
:root {
	/* 主题颜色 */
	--t-c1: 186, 138, 219;
	--t-c2: 123, 96, 202;
	--t-c3: 255, 184, 237;
	--t-c4: 143, 93, 213;
	--t-c5: 255, 184, 237;

	/* 文本颜色 */
	--t-t1: 100, 102, 102;

	/* 背景颜色 */
	--t-b1: 255, 255, 255;
	--t-b2: 0, 0, 0;
	--t-b3: 244, 243, 241;
	--t-b4: 40, 40, 40;

	--t-r: 255, 0, 20;
	--t-g: 0, 200, 100;
}
::selection {
	background: rgba(var(--t-c5), 0.3);
}
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	background-color: transparent;
}
::-webkit-scrollbar-track {
	background-color: transparent;
	box-shadow: none;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(var(--t-t1), 0.1);
	border-radius: 100px;
	border: 4px solid transparent;
	background-clip: content-box;
	box-shadow: none;
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(var(--t-t1), 0.2);
}
::-webkit-scrollbar-corner {
	background-color: transparent;
	box-shadow: none;
}


/* 预设样式 */

@font-face{
	font-family: Poppins Regular;
	src: url('../src/font/Poppins Regular.woff2');
}

body {
	overflow: overlay;
	margin: 0;
	line-height: 30px;
	min-width: 380px;
	font-family: 'Poppins Regular', 'Microsoft YaHei'; 
}

.main {
	margin: 0px auto;
	padding: 360px 0px 200px 0px;
	width: 800px;
}

img,
a {
	user-select: none;
	text-decoration: none;
	-webkit-user-drag: none;
}

ins {
	text-decoration: none;
	border-bottom: 2px rgba(var(--t-c1), 0.8) solid;
}

para {
	display: block;
	padding-bottom: 100px;
	color: rgba(var(--t-t1), 0.6);
	font-size: 16px;
	word-break: break-all;
}

note,
i {
	color: rgba(var(--t-t1), 0.4);
}

hr {
	margin-block: 0;
	width: 100%;
	border: none;
	border-top: 1px rgba(var(--t-t1), 0.2) solid;
}

quote {
	display: block;
	color: rgba(var(--t-t1), 0.6);
	background-color: rgba(var(--t-c1), 0.15);
	padding: 10px 15px 10px 10px;
	border-left: rgba(var(--t-c1), 0.6) solid 5px;
	border-radius: 0px 7px 7px 0px;
	word-break: break-all;
	line-height: 26px;
}

attention {
	display: inline-block;
	background-color: rgba(var(--t-c1), 0.15);
	color: rgba(var(--t-c1), 1);
	padding: 0px 8px 0px 8px;
	line-height: 27px;
	border-radius: 5px;
}

mat {
	display: block;
	width: 100%;
	height: 5px;
	pointer-events: none;
}



/* 代码框 */

code {
	display: block;
	background-color: rgba(var(--t-c1), 0.1);
	color: rgba(var(--t-c1), 0.6);
	padding: 10px 12px 0px 12px;
	font-family: 'Poppins Regular', 'Microsoft YaHei'; 
	line-height: 26px;
	font-size: 16px;
	tab-size: 20;
	border-radius: 5px;
	white-space: pre;
	overflow: scroll;
}

code note {
	color: rgba(var(--t-c1), 1);
}

code attention {
	background-color: rgba(var(--t-c1), 0.6);
	color: rgba(var(--t-b1), 0.8);
}



/* 标题 */
h1, h2 {
	color: rgba(var(--t-t1), 0.8);
}

h1 {
	font-size: 40px;
	line-height: 56px;
}

h2 {
	font-size: 25px;
	height: 45px;
	border-bottom: 1px rgba(var(--t-t1), 0.2) solid;
}

h2:after {
	content: " # ";
	color: rgba(var(--t-c1), 0.8);
}

h3 {
	color: rgba(var(--t-t1), 0.7);
	font-size: 20px;
	margin: 0;
}



/* 链接 */

.link {
	color: rgba(var(--t-c1), 1);
	text-decoration: underline;
	text-decoration-color: rgba(var(--t-t1), 0.2);
	cursor: pointer;
	transition: 0.3s;
	user-select: text !important;
}

.link:hover {
	text-decoration-color: rgba(var(--t-c1), 1);
}



/* 图像 */

a[class^='ibox'] {
	display: inline-block;
	background-color: rgba(var(--t-t1), 0.08);
	border-radius: 10px;
	box-sizing: border-box;
	overflow: hidden;
}

a[class^='ibox'] img {
	vertical-align: top;
	width: 100%;
	height: 100%;
	opacity: 0;
}



/* 列表 */

list {
	display: block;
	color: rgba(var(--t-t1), 0.6);
	font-size: 16px;
	word-break: break-all;
	margin-left: 25px;
}

list[type="1"]::before,
list[type="2"]::before {
	content: '-';
	margin-left: -20px;
	margin-right: 11px;
}

list[type="3"]::before,
list[type="4"]::before {
	content: '•';
	margin-left: -20px;
	margin-right: 13px;
}

list[type="1"]::before,
list[type="3"]::before {
	color: rgba(var(--t-t1), 0.4);
}

list[type="2"]::before,
list[type="4"]::before {
	color: rgba(var(--t-c1), 0.8);
}

list[type="5-reset"] {
	margin-left: 0;
	counter-reset: counter-li5;
}

list[type="5"] {
	counter-increment: counter-li5;
}

list[type="5"]::before {
	content: " " counter(counter-li5) ".";
	margin-left: -20px;
	margin-right: 7px;
	color: rgba(var(--t-t1), 0.6);
}


/* 表格 */

thead tr th {
	background-color: rgba(var(--t-c1), 0.5);
	color: rgba(var(--t-b1), 1);
	min-width: 80px;
	text-align: left;
	font-weight: lighter;
}
table {
	border-collapse: collapse;
	border: 1px rgba(var(--t-t1), 0.1) solid;
	border-radius: 8px;
	overflow: hidden;
}
td, th {
	vertical-align: top;
	padding: 5px 10px;
	color: rgba(var(--t-t1), 0.6);
}
tr:nth-child(even) {
	background-color: rgba(var(--t-b3), 0.5);
}
tr:nth-child(odd) {
	background-color: rgba(var(--t-b3), 0.1);
}



/* 动画 */

@keyframes fade {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}
.fade {
	animation: fade 1s ease-in;
	animation-fill-mode:forwards;
}



/* 功能样式 */

.f-1 {
	user-select: none;
	pointer-events: none;
}

@media (orientation: landscape) {
	.f-3 {
		display: none;
	}
}

@media (orientation: portrait) {
	.main {
		margin: 0px auto;
		padding: 200px 0px 80px 0px;
		width: 90%;
	}
	.f-2 {
		display: none;
	}
}


