.player {
	margin-left: 20px;
	width: 280px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: rgba(var(--t-t1), 0.3);
}

.player a {
	color: rgba(var(--t-c1), 0.8);
	cursor: pointer;
	transition: 0.3s;
}

.player a:hover {
	color: rgba(var(--t-c1), 1);
}

.player audio {
	display: none;
}

.player span {
	color: rgba(var(--t-t1), 0.6);
	user-select: none;
}

.player-ui {
	position: fixed;
	z-index: 30;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(var(--t-b4), 1);
}

.player-ui .bk {
	position: fixed;
	aspect-ratio: 1 / 1;
	width: calc(100% + 200px);
	top: -100px;
	left: -100px;
	z-index: 25;
	transition: 1s;
	pointer-events: none;
}

.player-ui cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: brightness(0.4) blur(20px);
	z-index: 30;
	pointer-events: none;
}

.player-ui aside {
	display: inline-block;
	width: calc(50% - 90px);
	padding: 0 45px 0 45px;
}

.player-ui aside:nth-child(2) {
	height: 100%;
}

.player-ui .frame {
	position: absolute;
	z-index: 30;
	width: 70%;
	height: 100%;
	left: 15%;
	white-space: nowrap;

	justify-content: center;
	display: flex;
	align-items: center;
}

.player-ui .cover {
	aspect-ratio: 1 / 1;
	width: 100%;
	background-color: rgba(var(--t-b1), 0.05);
	border-radius: 10px;
	overflow: hidden;
}

.player-ui .cover img {
	aspect-ratio: 1 / 1;
	width: 100%;
	border: none;
}

.player-ui .ctrl {
	height: 50px;
	margin-top: 20px;
	color: rgba(var(--t-b1), 0.1);
}

.player-ui .ctrl a {
	vertical-align: top;
	display: inline-block;
	height: 30px;
	padding-right: 5px;
	font-size: 24px;
	color: rgba(var(--t-b1), 0.2);
	text-shadow: 1px 1px 3px rgb(var(--t-b2), 0.4);
	cursor: pointer;
	transition: 0.3s;
}

.player-ui .ctrl a:hover {
	color: rgba(var(--t-b1), 0.6);
}

.player-ui .ctrl a:nth-of-type(1) {
	float: right;
	padding-right: 0;
	font-family: 'Microsoft YaHei';
}

.player-s0 {
	width: 60px;
	overflow: scroll;
	color: rgba(var(--t-b1), 0.4);
}

.player-s0::-webkit-scrollbar {

	display: none;
}

.player-s0::before {
	position: absolute;
	content: attr(volume);
	font-family: 'Microsoft YaHei';
}

.player-s1 {
	height: 1200px;
	width: 30px;
}



.player-ui line {
	margin-top: 10px;
	display: block;
	padding: 5px 15px 5px 15px;
	min-width: 100px;
	min-height: 30px;
	line-height: 28px;
	background-color: rgba(var(--t-b1), 0);
	border-radius: 5px;
	font-size: 22px;
	font-family: 'Microsoft YaHei';
	color: rgba(var(--t-b1), 0.6);
	text-shadow: 1px 1px 3px rgb(var(--t-b2), 0.2);
	white-space: break-spaces;
	transition: 0.3s;
}

.player-ui list:nth-child(1)::-webkit-scrollbar {

	display: none;
}

.player-ui list:nth-child(2) line {
	cursor: pointer;
}

.player-ui list .active,
.player-ui list:nth-child(2) line:hover {
	background-color: rgba(var(--t-b1), 0.1);
	color: rgba(var(--t-b1), 0.8);
	text-shadow: 1px 1px 3px rgb(var(--t-b2), 0.4);
	box-shadow: rgb(var(--t-b2), 0.05) 20px 20px 20px -3px;
}

.player-ui list .active {
	color: rgba(var(--t-c1), 0.7) !important;
}

.player-ui trans {
	display: block;
	font-size: 16px;
	color: rgba(var(--t-b1), 0.2);
}

.player-ui .highlight {
	background-color: rgba(var(--t-b1), 0.2);
	color: rgba(var(--t-b1), 1);
	text-shadow: 1px 1px 3px rgb(var(--t-b2), 0.8);
	box-shadow: rgb(var(--t-b2), 0.05) 20px 20px 20px -3px;
}

.player-ui .highlight trans {
	color: rgba(var(--t-b1), 0.6);
}





.player-ui rt {
	user-select: none;
}

.player-ui .no-kana rt {
	display: none;
}



.player-bar0 {
	height: 10px;
	cursor: text;
}

.player-bar1 {
	margin-top: 4px;
	border-radius: 20px;
	overflow: hidden;
	height: 5px;
	background-color: rgba(var(--t-b1), 0.1);
	border: 1px solid rgba(var(--t-b1), 0.1);
	transition: 0.5s;
}

.player-bar1 div {
	height: 5px;
	background-color: rgba(var(--t-b2), 0.4);
	transition: 0.5s;
}

.player-bar0:hover div {
	background-color: rgba(var(--t-b2), 0.8);
}

.player-bar0:hover .player-bar1 {
	background-color: rgba(var(--t-b1), 0.4);
}












.player-ui header {
	position: fixed;
	top: 15px;
	left: 15px;
	height: 28px;
	width: 40px;
	z-index: 35;
}

.player-ui list {
	display: block;
	height: calc(100% - 80px);
	overflow: scroll;
	border-bottom: 1px solid rgba(var(--t-b1), 0.2);
}

.player-ui list::-webkit-scrollbar:horizontal {
	display: none !important;
}



.player-header {
	font-size: 15px;
	color: rgba(var(--t-b1), 0.2);
	border-bottom: 1px solid rgba(var(--t-b1), 0.1);
	line-height: 33px;
	user-select: none;
}



@media screen and (max-width: 850px)  {
//	.player-ui aside:nth-child(1) {

//		display: none;
//	}
	.player-ui .lrc {
		max-width: 300px;
		padding: 5px 10px 5px 10px;
		text-align: left;
		white-space: unset;
		word-break: break-word;
	}
	.player-ui .time {
		width: 260px;
	}


	.player-ui list::-webkit-scrollbar,
	.player-ui .cover {
		display: none;
	}
	.player-ui aside {
		width: calc(100% - 40px);
		padding: 0 20px 0 20px;
	}
	.player-ui aside:nth-child(1) {
		padding: 0 !important;
		width: 0;
	}
	.player-ui .frame {
		width: 100%;
		left: 0;
	}
	.player-ui .ctrl {
		position: fixed;
		bottom: 34px;
		width: calc(100% - 40px);
		padding: 0 20px 0 20px;
	}
	.player-ui list {
		border-bottom: none;
	}
	.player-ui list line:nth-child(1) {
		margin-top: 70px !important;
	}
	.player-ui .bk {
		width: unset;
		height: calc(100% + 200px);
	}
}

@media screen and (max-width: 850px) and (min-height: 600px)  {

}


