.player {
	margin-left: 20px;
	width: 280px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: rgba(var(--t-t1), 0.3);
}

.player a {
	color: rgba(var(--t-c1), 0.8);
	cursor: pointer;
	transition: 0.3s;
}

.player a:hover {
	color: rgba(var(--t-c1), 1);
}

.player audio {
	display: none;
}

.player span {
	color: rgba(var(--t-t1), 0.6);
	user-select: none;
}

.player-ui {
	position: fixed;
	z-index: 30;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(var(--t-b4), 1);
}

.player-ui img {
	position: fixed;
	aspect-ratio: 1 / 1;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 25;
	filter: brightness(0.4) blur(2px);
	transition: 1s;
	pointer-events: none;
}

.player-ui .lrc {
	position: fixed;
	z-index: 35;
	right: 30px;
	bottom: 30px;
	padding: 5px 10px 5px 30px;
	min-width: 100px;
	min-height: 28px;
	line-height: 28px;
	background-color: rgba(var(--t-b1), 0.06);
	border-radius: 5px;
	font-size: 22px;
	font-family: 'Microsoft YaHei';
	text-align: right;
	color: rgba(var(--t-b1), 0.8);
	text-shadow: 1px 1px 3px rgb(var(--t-b2), 0.4);
	box-shadow: rgb(var(--t-b2), 0.1) 20px 20px 50px -3px;
	backdrop-filter: blur(16px);
	white-space: nowrap;
	transition: 0.3s;
}

.player-ui .lrc:hover {
	transform: scale(1.05);
	background-color: rgba(var(--t-b1), 0.1);
}

.player-ui .lrc:active {
	transform: scale(1);
}

.player-ui trans {
	display: block;
	font-size: 16px;
	color: rgba(var(--t-b1), 0.4);
}

.player-ui rt {
	user-select: none;
}

.player-ui .no-kana rt {
	display: none;
}



.player-bar0 {
	height: 10px;
	cursor: text;
}

.player-bar1 {
	margin-top: 4px;
	border-radius: 20px;
	overflow: hidden;
	height: 5px;
	background-color: rgba(var(--t-b1), 0.1);
	border: 1px solid rgba(var(--t-b1), 0.1);
	transition: 0.5s;
}

.player-bar1 div {
	height: 5px;
	background-color: rgba(var(--t-b2), 0.4);
	transition: 0.5s;
}

.player-bar0:hover div {
	background-color: rgba(var(--t-b2), 0.8);
}

.player-bar0:hover .player-bar1 {
	background-color: rgba(var(--t-b1), 0.4);
}

.player-ui .time {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 35;
	height: 50px;
	width: 300px;
}

.player-ui .time a {
	float: right;
	font-size: 24px;
	font-family: 'Microsoft YaHei';
	color: rgba(var(--t-b1), 0.2);
	text-shadow: 1px 1px 3px rgb(var(--t-b2), 0.4);
	cursor: pointer;
	transition: 0.3s;
}

.player-ui header {
	position: fixed;
	top: 15px;
	left: 15px;
	height: 28px;
	width: 40px;
	z-index: 35;
}

.player-ui header:not(.player-header) > span {
	color: rgba(var(--t-b1), 0.2);
	cursor: pointer;
	user-select: none;
	text-shadow: 1px 1px 3px rgb(var(--t-b2), 0.4);
	transition-delay: 0.3s;
	transition: 0.5s;
}



.player-ui .playlist {
	height: 360px;
	width: 260px;
	margin-top: -30px;
	padding: 10px 20px 20px 20px;
	background-color: rgba(var(--t-b1), 0.05);
	backdrop-filter: blur(16px);
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.3s;
	pointer-events: none;
	box-shadow: rgb(var(--t-b2), 0.1) 20px 20px 50px -3px;
	opacity: 0;
}

.player-ui header:hover .playlist {
	pointer-events: unset;
	opacity: 1;
}

.player-ui header:not(.player-header):hover > span {
	opacity: 0;
}

.player-list {
	height: 324px;
	overflow: scroll;
	border-bottom: 1px solid rgba(var(--t-b1), 0.1);
}

.player-list::-webkit-scrollbar:horizontal {
	display: none !important;
}

.player-list::-webkit-scrollbar {
	width: 2px !important;
	height: 0px !important;
}

.player-list::-webkit-scrollbar-thumb {
	background-clip: unset !important;
}

.player-list a {
	display: block;
	overflow: hidden;
	font-size: 16px;
	line-height: 27px;
	color: rgba(var(--t-b1), 0.2);
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	transition: 0.3s;
}

.player-list a:hover {
	color: rgba(var(--t-b1), 0.4);
}

.player-list .active {
	color: rgba(var(--t-c1), 0.7) !important;
}

.player-header {
	font-size: 15px;
	color: rgba(var(--t-b1), 0.2);
	border-bottom: 1px solid rgba(var(--t-b1), 0.1);
	line-height: 33px;
	user-select: none;
}

.player-header a {
	cursor: pointer;
	transition: 0.3s;
	color: rgba(var(--t-b1), 0.6);
}

.player-header a:hover {
	color: rgba(var(--t-b1), 0.8);
}

.player-header-right {
	float: right;
}

.player-header-right a {
	color: rgba(var(--t-c1), 0.6) !important;
}

.player-sound0 {
	color: rgba(var(--t-b1), 0.4);
}

.player-sound1 {
	position: absolute;
	right: 40px;
	top: 15px;
	height: 20px;
	width: 30px;
	overflow: scroll;
}

.player-sound1 div {
	height: 1200px;
	width: 30px;
}

.player-sound1::-webkit-scrollbar {

	display: none;
}



@media screen and (max-width: 850px)  {
	.player-ui img {
		left: -20%;
		top: -50px;
		width: unset;
		height: calc(100% + 150px);
	}
	.player-ui .lrc {
		max-width: 300px;
		padding: 5px 10px 5px 10px;
		text-align: left;
		white-space: unset;
		word-break: break-word;
	}
	.player-ui .time {
		width: 260px;
	}

}



