
:root {
	/* 主题颜色 */
	--t-c1: 40, 158, 214;
	--t-c2: 104, 237, 255;
	--t-c3: 45, 189, 255;

	scrollbar-color: rgba(var(--t-b2), 0.3) rgba(var(--t-b2), 0.05);
}

[theme="0"] {
	/* 深色 */
	--t-b1: 0, 0, 0;
	--t-b2: 255, 255, 255;
	--t-b3: 0, 0, 0;
	--t-b4: 255, 255, 255;
	--t-b5: 40, 40, 40;
}

[theme="1"] {
	/* 浅色 */
	--t-b1: 255, 255, 255;
	--t-b2: 0, 0, 0;
	--t-b3: 0, 0, 0;
	--t-b4: 255, 255, 255;
	--t-b5: 244, 243, 241;
}

@font-face {
	font-family: Poppins-Regular;
	src: url("../src/font/Poppins-Regular.woff2");
}
@font-face {
	font-family: icomoon;
	src: url("../src/font/icomoon.woff2");
}
::selection {
	background: rgba(var(--t-c3), 0.2);
}



body {
	font-family: "Poppins-Regular", "icomoon", "Microsoft YaHei";
	margin: 0;
	line-height: 30px;

	min-width: 380px;
	background-color: rgba(var(--t-b1), 0.8);
}

html,
body {
	height: 100%;
	width: 100%;
}

img,
a {
	user-select: none;
	text-decoration: none;
	-webkit-user-drag: none;
}

header {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 10;
	font-size: 22px;
	color: rgba(var(--t-b2), 0.1);
	transition: 0.3s;
	user-select: none;
}

header btn {
	display: inline-block;
	vertical-align: middle;
	width: 34px;
	height: 28px;
	border-radius: 100%;
	padding: 8px 5px;
	font-size: 34px;
	line-height: 30px;
	cursor: pointer;
	user-select: none;
	transition: 0.3s;
}

.backdrop,
backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.f-1 {
	user-select: none;
	pointer-events: none;
}



header a {
	padding: 0px 10px;
	cursor: pointer;
	transition: 0.3s;
	color: rgba(var(--t-b2), 0.4);
}

header a:hover {
	color: rgba(var(--t-c1), 1);
}

header backdrop {
	background-color: rgba(var(--t-b3), 0.6);
}

header btn {
	color: rgba(var(--t-b2), 0.4);
	background-color: color-mix(in srgb, rgb(var(--t-b1)) 80%, white 20%);
}

header btn:hover {
	color: rgba(var(--t-b2), 0.6);
}



.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
	background-color: color-mix(in srgb, rgb(var(--t-b1)) 80%, white 20%) !important;
}

.loading i {
	position: fixed;
	bottom: 20px;
	right: 30px;
	font-size: 24px;
	color: rgba(var(--t-b2), 0.8);
}



footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	height: 40px;
	width: 100%;
	background-image: linear-gradient(90deg, rgba(var(--t-b3), 0.05) 0%, rgba(var(--t-b3), 0) 70%);
	color: rgba(var(--t-b2), 0.4);
	user-select: none;
	line-height: 22px;
}

footer div {
	display: inline-block;
	height: 20px;
	padding: 10px 0px 10px 20px;
	user-select: text;
	color: rgba(var(--t-b2), 0.4);
	transition: 0.3s;
}

footer a {
	color: rgba(var(--t-c1), 0.6);
	text-decoration: underline;
	cursor: help;
	transition: 0.1s;
}

.blog {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.blog iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border: 0;
	user-select: none;
}

.blog,
.blog backdrop {
	background-color: color-mix(in srgb, rgb(var(--t-b1)) 80%, white 20%);
}

.blog backdrop::before {
	position: fixed;
	bottom: 20px;
	left: 10px;
	content:attr(data-timer);
	font-size: 120px;
	line-height: 120px;
	color: rgba(var(--t-b2), 0.1);

	white-space: nowrap;
	writing-mode: vertical-rl;
	user-select: none;
}



.avatar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 0;
	height: 100%;
	aspect-ratio: 1 / 1;
	pointer-events: none;
	filter: opacity(0.6);
}

.des {
	position: absolute;
	top: calc(20% + 50px);
	left: 15%;
	z-index: 5;
	width: 500px;
	color: rgba(var(--t-b2), 0.5);
	white-space: nowrap;
	font-size: 18px;
}

.des hr {
	width: 80%;
	margin: 0;
	margin-bottom: 20px;
	border: none;
	border-top: 1px solid rgba(var(--t-b2), 0.6);
}

.des div {
	margin-top: 80px;
}

.des div a {
	display: block;
	border: 2px solid rgba(var(--t-b2), 0.4);
	width: 100px;
	padding: 5px 16px;
	color: rgba(var(--t-b2), 0.4);
	user-select: none;
	cursor: pointer;
}

.des div a:nth-child(1) {
	border-bottom: none;
}

.des div a::after {
	content: "";
	float: right;
	margin-right: -40px;
	transform: rotateY(-180deg);
	color: rgba(var(--t-c1), 0);
}

.des div a:hover::after,
.des div a:hover {
	color: rgba(var(--t-c1), 0.8) !important;
}



/* 菜单 */

.menu {
	position: fixed;
	left: -330px;
	width: 250px;
	height: 100%;
	padding: 0px 40px;
	z-index: 15;
	background-color: color-mix(in srgb, rgb(var(--t-b1)) 85%, rgb(var(--t-b2)) 15%) !important;
	overflow: scroll;
	scrollbar-width: none;
	transition: 0.3s ease-out;
}

.menu-active {
	left: 0px;
}

.menu h1 {
	margin: 30px 0 15px 0;
	font-size: 35px;
	font-weight: normal;
	color: rgba(var(--t-b2), 0.6);
}

.menu hr {
	margin: 0;
	width: 230px;
	border: none;
	border-top: 1px solid rgba(var(--t-b2), 0.2);
}

.menu btn {
	display: inline-block;
	margin-left: -25px;
	font-size: 18px;
	color: rgba(var(--t-b2), 0.6);
	user-select: none;
	cursor: pointer;
}

.menu btn::before {
	content: "";
	display: inline-block;
	height: 14px;
	width: 16px;
	padding: 6px 5px;
	color: rgba(var(--t-c1), 0.4);
	font-size: 15px;
	line-height: 16px;
	transition: 0.3s;
}

.menu .active::before {
	transform: rotate(90deg);
}

.menu .menu-c2 {
	height: 70px;
	width: 230px;
	font-size: 16px;
	line-height: 24px;
	color: rgba(var(--t-b2), 0.4);
	transition: all 0.3s ease-out 0s;
}

.menu .menu-c3 {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	height: 150px;
	overflow: hidden;
	transition: all 0.3s ease-out 0s;
}

.menu .menu-c3 a {
	display: inline-block;
	height: 60px;
	width: 60px;
	margin-top: 5px;
	margin-right: 5px;
	font-size: 30px;
	line-height: 61px;
	text-align: center;
	color: rgba(var(--t-b2), 0.4);
	background-color: rgba(var(--t-b2), 0.05);
	border-radius: 5px;
	user-select: none;
	white-space: nowrap;
	cursor: pointer;
	transition: 0.3s;
}

.menu .menu-c3 a:hover {
	background-color: rgba(var(--t-b2), 0.1);
}

.menu .menu-footer {
	position: sticky;
	padding: 10px 40px;
	height: 20px;
	bottom: 0px;
	top: calc(100% - 40px);
	margin: 0 -30px 0 -30px;
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	background-color: color-mix(in srgb, rgb(var(--t-b1)) 85%, rgb(var(--t-b2)) 15%) !important;
	color: rgba(var(--t-b2), 0.6);
	backdrop-filter: blur(5px);
	transition: 0.3s ease-out;
}



/* 搜索栏 */

.menu .search {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow: hidden;
	transition: 0.3s ease-out 0s;
}

.menu btn[data-item]::after {
	content: attr(data-item) " 页";
	font-size: 18px;
	margin-left: 8px;
	color: rgba(var(--t-b2), 0.3);
}

.menu .search textarea {
	width: 210px;
	height: 15px;
	padding: 5px 5px;
	outline: none;
	resize: none;
	border-radius: 5px;
	font-size: 16px;
	line-height: 16px;
	font-family: "Poppins-Regular", "Microsoft YaHei";
	color: rgba(var(--t-b2), 0.8);
	background-color: rgba(var(--t-b3), 0.01);
	border: 1px solid rgba(var(--t-b2), 0.2);
	transition: 0.3s ease;
	overflow: hidden;
}

.menu .search textarea:hover,
.menu .search textarea:focus {
	border: 1px solid rgba(var(--t-b2), 0.6);
}

.menu .search list {
	display: block;
	margin-top: 8px;
	height: 175px;
	width: 222px;

	overflow-x: hidden;
	overflow-y: overlay;
	scrollbar-color: rgba(var(--t-b2), 0.3) transparent;
	scrollbar-width: thin;
}

.menu .search list div {
	color: rgba(var(--t-b2), 0.6);
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.menu .search list div a {
	color: rgba(var(--t-b2), 0.4);
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s ease;
}

.menu .search list div a:hover {
	color: rgba(var(--t-c1), 0.6);
}

.menu .search list div:not(.none)::before {
	content:attr(data-icon);
	margin-right: 5px;
}

.menu .search list .pin::after {
	float: right;
	margin-right: 5px;
	content: "";
	color: rgba(var(--t-b2), 0.2);
	font-size: 14px;
}

.menu .search list key {
	text-decoration: underline; 
	color: rgba(var(--t-c1), 0.6);
}

.menu .search list .none {
	cursor: text;
	user-select: auto;
}



/* 提示窗 */

.prompt {
	position: fixed;
	top: 20px;
	right: -340px;
	width: 320px;
	z-index: 40;
}

.prompt prompt {
	display: block;
	float: right;
	padding: 10px 50px 10px 10px;
	margin-bottom: 10px;
	max-width: 320px;
	font-size: 16px;
	line-height: 24px;
	color: rgba(var(--t-b2), 0.6);
	background-color: rgba(var(--t-b1), 0.1);
	backdrop-filter: blur(10px);
	box-sizing: border-box;
	border: 1px solid rgba(var(--t-b2), 0.1);
	border-radius: 10px;
	box-shadow: rgba(var(--t-b3), 0.05) 10px 10px 20px -3px;
	pointer-events: none;
	white-space: pre-wrap;
	word-wrap: break-word;
	transition: 0.5s;
	transform: translateX(0px);
	overflow: hidden;
}

.prompt .active {
	transform: translateX(-360px);
}

.prompt prompt * {
	pointer-events: auto;
}

.prompt prompt::after {
	position: absolute;
	content: "";
	height: 30px;
	width: 30px;
	top: calc(50% - 15px);
	right: 10px;
	text-align: center;
	line-height: 30px;
	color: rgba(255, 0, 20, 0.4);
	font-size: 24px;
	pointer-events: auto !important;
	cursor: pointer;
	transition: 0.3s;
}

.prompt prompt:hover::after {
	color: rgba(255, 0, 20, 0.6);
}

.prompt prompt a {
	color: rgba(var(--t-c1), 0.6);
	cursor: pointer;
	transition: 0.3s;
}

.prompt prompt a:hover {
	color: rgba(var(--t-c1), 0.8);
}



/* 响应式设计 */

/* PC */
@media (orientation: landscape) {
	.f-3 {
		display: none !important;
	}
}

@media (orientation: landscape) and (max-width: 1200px) and (min-width: 900px) {
	.des {
		top: 20%;
		left: 12%;
		line-height: 30px;
		font-size: 18px;
	}
}

@media (orientation: landscape) and (max-width: 900px) and (min-width: 500px) {
	.des {
		top: 20%;
		left: 12%;
		width: 400px;
		line-height: 24px;
		font-size: 18px;
	}
}

/* phone */
@media (orientation: portrait) {
	.f-2 {
		display: none !important;
	}
	.des {
		position: fixed;
		top: 110px;
		width: 80%;
		left: 30px;
		border-left: none;
		font-size: 16px;
		line-height: 24px;
	}
	.des a {
		font-size: 16px;
	}
	.menu {
		padding-right: 30px;
	}
	.avatar {
		top: unset;
		bottom: -40px;
		right: -65%;
	}
	.loading i {
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		right: 15px;
	}
}



/* 夜间模式 */

[theme="0"] .avatar {
	filter: invert(1);
}

[theme="0"] .menu h1,
[theme="0"] .menu btn {
	color: rgba(var(--t-b2), 0.8);
}

[theme="0"] .des a {
	color: rgba(var(--t-b2), 0.8);
}

[theme="0"] .menu btn::before {
	color: rgba(var(--t-c1), 0.6);
}

[theme="0"] .menu .search list div a:hover,
[theme="0"] .menu .search list key,
[theme="0"] footer a {
	color: rgba(var(--t-c2), 0.6);
}

[theme="0"] footer {
	background-image: linear-gradient(90deg, rgba(var(--t-b3), 0.1) 0%, rgba(var(--t-b3), 0) 70%);
}


