
:root {
	/* 主题颜色 */
	--t-c1: 186, 138, 219;
	--t-c2: 123, 96, 202;
	--t-c3: 255, 184, 237;
	--t-c4: 143, 93, 213;
	--t-c5: 255, 184, 237;

	/* 文本颜色 */
	--t-t1: 100, 102, 102;

	/* 背景颜色 */
	--t-b1: 255, 255, 255;
	--t-b2: 0, 0, 0;
	--t-b3: 244, 243, 241;
	--t-b4: 40, 40, 40;

	--t-r: 255, 0, 20;
	--t-g: 0, 200, 100;

/*
	.f-1 无效元素
	.f-2 仅在电脑端显示
	.f-3 仅在移动端显示

	|	
	| 回车符
					*/

}



@font-face{
	font-family: Poppins Regular;
	src: url('src/Poppins Regular.woff2');
}

html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Poppins Regular', 'Microsoft YaHei';
	overflow: overlay;
	margin: 0;
	line-height: 30px;

	height: 100%;
	width: 100%;
	min-width: 380px;
}

img,
a {
	user-select: none;
	text-decoration: none;
	-webkit-user-drag: none;
}

.f-1 {
	user-select: none;
	pointer-events: none;
}



::-webkit-scrollbar {

	width: 12px !important;
	height: 12px !important;
	background-color: transparent !important;
}


::-webkit-scrollbar-track {

	background-color: transparent !important;
	box-shadow: none !important;
}


::-webkit-scrollbar-thumb {

	background-color: rgba(var(--t-b2), 0.1) !important;
	border-radius: 100px !important;
	border: 4px solid transparent !important;
	background-clip: content-box !important;
	box-shadow: none !important;
}


::-webkit-scrollbar-thumb:hover {

	background-color: rgba(var(--t-b2), 0.2) !important;
}

::-webkit-scrollbar-corner {
	background-color: transparent !important;
	box-shadow: none !important;
}



::selection {
	background: rgba(var(--t-c5), 0.3) !important;
}






header {
	position: absolute;
	top: 25px;
	left: 75px;
	z-index: 3;
	font-size: 22px;
	color: rgba(var(--t-t1), 0.1);
	transition: 0.3s;
	user-select: none;
}

:not(.player-ui) > header a {
	padding: 0px 10px;
	cursor: pointer;
	transition: 0.3s;
	color: rgba(var(--t-t1), 0.4);
	text-shadow:	-2px -2px 0 rgba(var(--t-b1), 1),
			-2px 2px 0 rgba(var(--t-b1), 1),
			2px -2px 0 rgba(var(--t-b1), 1),
			2px 2px 0 rgba(var(--t-b1), 1),
			0 -2px 0 rgba(var(--t-b1), 1),
			0 2px 0 rgba(var(--t-b1), 1),
			2px 0 0 rgba(var(--t-b1), 1),
			-2px 0 0 rgba(var(--t-b1), 1);
}

:not(.player-ui) > header a:hover {
	color: rgba(var(--t-c1), 1);
}



footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
	height: 40px;
	width: 100%;

	background-color: rgba(var(--t-b3), 1);
	background-image: linear-gradient(90deg, rgba(var(--t-b3), 1) 0%, rgba(var(--t-b1), 1) 70%);

	mask-image: linear-gradient(90deg, rgba(var(--t-b3), 1) 0%, rgba(var(--t-b3), 0) 70%);
	-webkit-mask-image: linear-gradient(90deg, rgba(var(--t-b3), 1) 0%, rgba(var(--t-b3), 0) 70%);

	color: rgba(var(--t-t1), 0.4);
	user-select: none;
	line-height: 24px;
}

footer div {
	display: inline-block;
	height: 20px;
	padding: 10px 0px 10px 20px;
	user-select: text;
	color: rgba(var(--t-t1), 0.6);
	transition: 0.3s;
}



.blog {
	position: fixed;
	z-index: 15;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(var(--t-b1), 1);
}

.blog iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border: 0;
	user-select: none;
}

.avatar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	user-select: none;
	transform: scale(1);

	z-index: 0;
	transition: 1s;
	pointer-events: none;
}



btn1 {
	position: fixed;
	color: rgba(var(--t-t1), 0.3);
	top: 15px;
	left: 15px;
	width: 35px;
	height: 29px;
	border-radius: 100%;
	padding: 8px 5px;
	z-index: 3;
	font-size: 34px;
	line-height: 33px;
	cursor: pointer;
	user-select: none;
	backdrop-filter: blur(3px);
	transition: 0.3s;
}

btn1:hover {
	color: rgba(var(--t-t1), 0.6);
}

btn2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--t-b2), 0.6);
	z-index: 5;
}



.menu {
	position: fixed;
	left: -330px;
	width: 250px;
	height: 100%;
	padding: 0px 40px;
	z-index: 10;
	background-color: rgba(var(--t-b3), 1);
	overflow: scroll;
	transition: 0.3s ease-out;
}

.menu::-webkit-scrollbar {

	display: none;
}

.menu-active {
	left: 0px;
}

.menu h1 {
	height: 40px;
	margin: 30px 0 0 0;
	font-size: 35px;
	font-weight: normal;
	color: rgba(var(--t-t1), 0.8);
}

.menu hr {
	margin-left: 0;
	width: 230px;
	border: none;
	border-top: 1px solid rgba(var(--t-t1), 0.3);
}

.menu btn {
	display: inline-block;
	margin-left: -25px;
	font-size: 18px;
	color: rgba(var(--t-t1), 0.8);
	user-select: none;
	cursor: pointer;
}

.menu btn div {
	display: inline-block;
	height: 14px;
	width: 16px;
	padding: 6px 5px;
	color: rgba(var(--t-c1), 0.8);
	font-size: 15px;
	line-height: 16px;
	transition: 0.3s;
}

.btn-active {
	transform: rotate(90deg);
}

.menu news {
	display: block;
	height: 24px;
	font-family: 'Microsoft YaHei';
	font-size: 16px;
	line-height: 24px;
	color: rgba(var(--t-t1), 0.4);
}

.menu news time {
	width: 50px;
	display: inline-block;
	color: rgba(var(--t-t1), 0.6);
}

.menu-c2 {
	height: 120px;
	transition: all 0.3s ease-out 0s;
}

.menu-c3 {
	display: block;
	height: 80px;
	overflow: hidden;
	transition: all 0.3s ease-out 0s;
}

.menu-c3 a {
	display: block;
	height: 20px;
	width: 160px;
	padding: 5px 10px 5px 10px;
	font-size: 16px;
	line-height: 20px;
	color: rgba(var(--t-b4), 0.6);
	background-color: rgba(var(--t-b4), 0.05);
	border-radius: 5px;
	user-select: none;
	white-space: nowrap;
	cursor: pointer;
	transition: 0.3s;
}

.menu-c3 a:hover {
	background-color: rgba(var(--t-b4), 0.08);
}

.menu-c3 a span {
	margin-right: -5px;
	float: right;
	line-height: 22px;
	font-size: 20px;
	color: rgba(var(--t-t1), 0.6);
}

.menu-footer {
	position: sticky;
	margin-left: -40px;
	height: 40px;
	bottom: 0;
	top: calc(100% - 40px);
	background-color: rgba(var(--t-b3), 0.8);
	backdrop-filter: blur(5px);
	text-align: center;
}

.menu-footer span {
	font-size: 14px;
	line-height: 14px;
	vertical-align: -6px;
	margin-left: 20px;
	color: rgba(var(--t-t1), 0.4);
}

.menu-footer a {
	color: rgba(var(--t-t1), 0.6);
	cursor: pointer;
	transition: 0.3s;
}

.menu-footer a:hover {
	color: rgba(var(--t-c1), 0.8);
}



.search-title {
	font-size: 18px;
	margin-left: 8px;
	color: rgba(var(--t-t1), 0.3);
}

.search {
	overflow: hidden;
	transition: 0.3s ease-out 0s;
}

.search textarea {
	width: 210px;
	height: 15px;
	padding: 5px 5px;
	outline: none;
	resize: none;
	border-radius: 5px;
	font-size: 16px;
	line-height: 16px;
	font-family: 'Poppins Regular', 'Microsoft YaHei';
	color: rgba(var(--t-t1), 0.8);
	background-color: rgba(var(--t-b1), 0.6);
	border: 1px solid rgba(var(--t-t1), 0.4);
	transition: 0.3s ease;
	overflow: hidden;
}

.search textarea:hover,
.search textarea:focus {
	border: 1px solid rgba(var(--t-t1), 0.8);
}

.search span {
	color: rgba(var(--t-t1), 0.8);
	display: inline-block;
	vertical-align: top;
	margin-left: -24px;
	font-size: 16px;
	user-select: none;
	pointer-events: none;
}

.search list {
	display: block;
	margin: -3px 0;
	height: 110px;
	width: 224px;
	padding: 0;
	overflow: scroll;
}

.search list div {
	color: rgba(var(--t-t1), 0.6);
	height: 22px;
	line-height: 22px;
}

.search list div a {
	color: rgba(var(--t-t1), 0.6);
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s ease;
}

.search list div a:hover {
	color: rgba(var(--t-c1), 1);
}

.search list .pinned::after {
	float: right;
	margin-right: 5px;
	content: '';
	color: rgba(var(--t-t1), 0.3);
	font-size: 14px;
}

.search list key {
	text-decoration: underline; 
	color: rgba(var(--t-c1), 1);
}

.search list .null {
	cursor: text;
	user-select: auto;
}

.search list::-webkit-scrollbar {
	width: 2px !important;
	height: 0px !important;
}

.search list::-webkit-scrollbar-thumb {
	background-clip: unset !important;
}



.box-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--t-b1), 1);
}

.box-2 {
	position: absolute;
	width: 500px;
	height: 160px;
	bottom: 150px;
	left: 260px;
	z-index: 2;
	white-space: nowrap;
}

.box-2 type {
	display: block;
	margin-top: 13px;
	color: rgba(var(--t-t1), 0.5);
	font-size: 30px;

	text-shadow:	-2px -2px 0 rgba(var(--t-b1), 1),
			-2px 2px 0 rgba(var(--t-b1), 1),
			2px -2px 0 rgba(var(--t-b1), 1),
			2px 2px 0 rgba(var(--t-b1), 1),
			0 -2px 0 rgba(var(--t-b1), 1),
			0 2px 0 rgba(var(--t-b1), 1),
			2px 0 0 rgba(var(--t-b1), 1),
			-2px 0 0 rgba(var(--t-b1), 1);
}

.box-2 span {
	font-size: 80px;
	line-height: 100px;
	font-weight: bold;
	background-image: linear-gradient(62deg, rgba(var(--t-c2), 1), rgba(var(--t-c3), 1));
	color: transparent;
	-webkit-background-clip: text;

	transition: 1s ease-out 0.3s;
}



.message {
	position: fixed;
	z-index: 25;
	width: 100%;
	text-align: center;
	margin-top: -100px;
	pointer-events: none;
	transition: 0.5s ease-out;
}

.message-active {
	margin-top: 50px;
}

.message div {
	display: inline-block;
	padding: 10px 10px;
	font-size: 16px;
	line-height: 15px;
	border-radius: 10px;
	background-color: rgba(var(--t-b2), 0.6);
	color: rgba(var(--t-b1), 1);
	backdrop-filter: blur(3px);
	pointer-events: all;
	user-select: none;
}



.loading {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 15;
	background-color: rgba(var(--t-b1), 1);
}

.loading box1 {
	position: fixed;
	top: calc(50% - 40px);
	left: calc(50% - 150px);
	height: 120px;
	width: 300px;
	white-space: nowrap;
	font-size: 24px;
	text-align: center;
}

.loading box1 div {
	background-image: linear-gradient(62deg, rgba(var(--t-c2), 1), rgba(var(--t-c3), 1));
	color: transparent;
	-webkit-background-clip: text;
}

.loading box2 {
	position: fixed;
	bottom: 20px;
	left: 10px;
	font-size: 120px;
	font-family: 'Microsoft YaHei';
	line-height: 120px;
	color: rgba(var(--t-t1), 0.1);

	white-space: nowrap;
	writing-mode: vertical-rl;
	pointer-events: none;
	user-select: none;
}



.notification {
	position: fixed;
	top: 22px;
	right: 22px;
	padding: 10px 15px;
	z-index: 15;
	font-size: 16px;
	line-height: 20px;
	white-space: nowrap;
	color: rgba(var(--t-t1), 0.6);
	background-color: rgba(var(--t-b1), 0.1);
	border-radius: 5px;
	backdrop-filter: blur(10px);
	border: 1px solid rgba(var(--t-t1), 0.1);
	box-sizing: border-box;
	white-space: nowrap;
}

.notification div {
	float: right;
	font-size: 12px;
	margin-top: 10px;
	color: rgba(var(--t-t1), 0.2);
}

.notification div a {
	color: rgba(var(--t-c1), 0.6);
	cursor: pointer;
}






/* 动画 */

@keyframes loop {
	0% {	transform: translateY(0%);
		-webkit-transform: translateY(0%);
	}
	100% {	transform: translateY(-25%);
		-webkit-transform: translateY(-25%);
	}
}



/* 设备兼容 */
@media screen and (min-width: 1200px)  {
	.f-3 {
		display: none;
	}
}

@media screen and (max-width: 1200px) and (min-width: 850px)  {
	.f-3 {
		display: none;
	}
	.box-2 {
		left: 12%;
		bottom: 100px;
	}
	.box-2 span {
		font-size: 70px;
	}
	.box-2 type {
		font-size: 26px;
		margin-top: 3px;
	}
}

@media screen and (max-width: 850px)  {
	.f-2 {
		display: none;
	}
	.box-2 span {
		font-size: 46px;
		line-height: 46px;
	}
	.box-2 type {
		font-size: 16px;
		margin-top: 0px;
		margin-left: 3px;
	}
	.box-2 {
		position: fixed;
		width: 260px;
		height: 100px;
		bottom: 64px;
		left: 40px;
	}
	.avatar {
		position: fixed;
		width: 90%;
		object-fit: cover;
		object-position: -90px 0px;
		transform: none !important;
	}
	.menu {
		padding-right: 30px;
	}
	.loading box2 {
		font-size: 100px;
		line-height: 100px;
	}
	.notification {
		max-width: 285px;
		white-space: unset;
	}
}


