
@font-face{
	font-family: icomoon;
	src: url('../../../src/font/icomoon.woff2');
}



textarea {
	display: inline-block;
	vertical-align: top;
	padding: 2px 4px;
	height: 24px;
	min-height: 24px;
	width: 180px;
	resize: none;
	outline: none;
	background-color: rgba(var(--t-b1), 0.6);
	color: rgba(var(--t-t1), 0.8);
	border: 1px solid rgba(var(--t-t1), 0.4);
	font-size: 16px;
	font-family: 'Poppins Regular', 'Microsoft YaHei'; 
	line-height: 24px;
	border-radius: 5px;
}

textarea::placeholder {
	color: rgba(var(--t-t1), 0.4);
	font-family: 'Poppins Regular', 'Microsoft YaHei'; 
	user-select: none;
}

.tbox {
	width: calc(100% - 18px);
	height: 120px;
	min-height: 120px;
	max-height: 600px;
	resize: vertical;
}

.post {
	margin-bottom: 100px;
	white-space: nowrap;
	user-select: none;
}

.post .link {
	position: absolute;
	margin-left: -80px;
}

.post canvas {
	margin-left: 5px;
	border: 1px solid rgba(var(--t-t1), 0.4);
	border-radius: 5px;
	cursor: help;
}

.post div {
	display: inline-block;
	vertical-align: top;
}

.post a,
footer a {
	height: 24px;
	text-align: center;
	font-size: 16px;
	font-family: 'Poppins Regular', 'icomoon', 'Microsoft YaHei';
	line-height: 25px;
	display: inline-block;
	border-radius: 3px;
	user-select: none;
	cursor: pointer;
	transition: 0.3s;
}

footer a {
	min-width: 24px;
	padding: 0px 2px;
	margin-right: 5px;
	color: rgba(var(--t-c1), 0.8);
	border: 1px solid rgba(var(--t-c1), 0.2);
}

footer .active {
	color: rgba(var(--t-b1), 1);
	background-color: rgba(var(--t-c1), 0.8);
}

.post a {
	width: 55px;
	padding: 3px 5px;
	margin-right: 8px;
	color: rgba(var(--t-b1), 1);
	background-color: rgba(var(--t-c1), 0.8);
}

footer a:hover {
	border: 1px solid rgba(var(--t-c1), 0.6);
}

.post a:hover {
	background-color: rgba(var(--t-c1), 1);
}

.post .ui {
	width: calc(100% - 160px);
}

footer .disabled,
.wait {
	opacity: 0.6;
	pointer-events: none;
}

.list {
	font-size: 16px;
	line-height: 24px;
}

comment {
	display: block;
	margin-bottom: 50px;
	user-select: none;
}

comment .user,
comment .content {
	display: inline-block;
	vertical-align: top;
}

comment .comment-footer {
	margin-top: 20px;
}

comment .comment-header {
	display: block;
	font-size: 18px;
	color: rgba(var(--t-t1), 0.8);
	user-select: text;
}

comment .content {
	width: calc(100% - 100px);
}

comment .comment-header span {
	color: rgba(var(--t-t1), 0.2);
	font-size: 16px;
}



comment .comment-body {
	overflow: hidden;
	white-space: pre-wrap;
	user-select: text;
}

comment .comment-body a {
	user-select: text !important;
}

comment .comment-reply .comment-header a,
comment .comment-footer a {
	color: rgba(var(--t-t1), 0.4);
	font-size: 16px;
	cursor: pointer;
}

comment .comment-reply {
	width: calc(100% - 45px);
	margin-top: 20px;
	margin-left: 45px;
}

comment .comment-reply .reply {
	margin-bottom: 30px;
}

comment .unfold {
	color: rgba(var(--t-c1), 1);
	text-decoration: underline;
	cursor: pointer;
	user-select: none;
}

comment .op:after {
	content: '博主';
	margin-left: 10px;
	font-size: 16px;
	color: rgba(var(--t-c2), 0.8);
	pointer-events: none;
}

.user {
	height: 60px;
	width: 60px;
	margin-right: 20px;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
}

.user::after {
	content: attr(data-icon);
	font-family: icomoon;
	font-size: 32px;
	line-height: 60px;
	color: rgba(var(--t-b1), 0.8);
}

.post .user {
	background-color: rgba(var(--t-t1), 0.4);
}

.list .user {
	margin-top: 5px;
	background-color: rgba(var(--t-c1), 0.6);
}

@media (orientation: portrait) {
	comment .comment-header span,
	.post .link,
	footer span {
		display: none;
	}
	textarea {
		width: 30%;
	}
	.user {
		margin-right: 10px;
		width: 40px;
		height: 40px;
	}
	.user::after {
		font-size: 24px;
		line-height: 40px;
	}
	.post .ui {
		width: calc(100% - 50px);
	}
	comment .comment-reply {
		margin-left: 0px;
		width: 100%;
	}
	comment .content {
		width: calc(100% - 60px);
	}
}


